:root {
  --primary-text-color--: #212121;
  --secondary-text-color--: #757575;
  --accent-color--: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

/* шапка сайта */
/* лого сайта */
.site-nav-logo {
  color: var(--accent-color--);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav-logo-studio {
  color: var(--primary-text-color--);
}

/* навигация сайта */
.site-nav-list .link,
.contact-list .link {
  text-decoration: none;
  color: var(--primary-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-list .link:hover,
.contact-list .link:hover,
.site-nav-list .link:focus,
.contact-list .link:focus {
  color: var(--accent-color--);
}
.site-nav-list .link.current {
  color: var(--accent-color--);
}

.list {
  list-style-type: none;
}

/* Секция Hero */
.hero {
  background-color: var(--primary-text-color--);
}

.hero .section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color--);
}

/* Заголовки секций */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color--);
}

/* Преимущества */

.benefits-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color--);
}

.benefits-list .descr {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color--);
}

/* О нас */

/* Команда */

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color--);
}

.team .descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color--);
}

/* Подвал сайта */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: var(--accent-color--);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo-studio {
  color: #ffffff;
}


.footer .link {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.footer .link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}





.footer-nav-list .link:hover,
.footer-nav-list .link:focus {
  color: var(--accent-color--);
}

/* Portfolio Page  */

.button-list {
  list-style-type: none;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-color--);
}

/* Card-list */

.card-item .link {
  text-decoration: none;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color--);
}

.card-descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

